<div class="form-container flex-row">
	<form 
		[formGroup]="loginForm"
		(ngSubmit)="login()"
	>

		<div class="flex-coll">
			<p class="title">Log in</p>
			<mat-form-field 
				appearance="outline"
			>
    			<mat-label>Enter your email</mat-label>
    			<input 
					matInput 
					[formControl]="controls.email"
					placeholder="user@crud.com" 
				>
    			<mat-error *ngIf="isControlInvalid(controls.email, 'email')">Incorrect email</mat-error>
    			<mat-error *ngIf="isControlInvalid(controls.email, 'required')"> Email is required</mat-error>
  			</mat-form-field>

  			<mat-form-field
				appearance="outline"
			>
    			<mat-label>Enter your password</mat-label>
    			<input 
					matInput 
					type="password"
					[formControl]="controls.password"
					placeholder="password"
				>
    			<mat-error *ngIf="isControlInvalid(controls.password, 'minlength')">Min 4 characters are required</mat-error>
    			<mat-error *ngIf="isControlInvalid(controls.password, 'required')">Password is required</mat-error>
  			</mat-form-field>

 			<button
				type="submit"
				color="primary"
				[disabled]="!isFormValid"
				mat-raised-button 
			>Log in</button>	
		</div>
	</form>
</div>