
<mat-label class="title--big">Products:</mat-label>

<div class="products-container flex-coll">
	<ng-container 
		*ngIf="productsService.products?.length; else $noProducts"
>
		<div class="card-wrapper flex-coll">
			<app-product-card 
				*ngFor="let product of productsService.products"
				(onEdit)="editProduct($event)"
				(onRemove)="removeProduct(($event).id)"
				[product]="product"
			></app-product-card>
		</div>
	</ng-container>
</div>

<ng-template #$noProducts>
	<p>No products yet</p>
</ng-template>